<div
  class="card-style d-flex flex-column align-items-start has-shadow"
  *ngIf="product"
>
  <!-- HEADER -->
  <div class="d-flex w-100">
    <h4>
      {{ product.name }}
    </h4>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <div class="d-flex flex-column gap-1rem">
      <img [src]="product.img" />
      <span
        >Category: <span class="badge male-badge">{{ product.category }}</span>
      </span>
      <p>Description: {{ product.description }}</p>
    </div>

    <div class="d-flex flex-column gap-1rem">
      <div class="d-flex justify-content-between">
        <span>Price: {{ product.price }}$</span>

        <div class="d-flex gap-05rem">
          <i class="pi pi-star-fill"></i>
          <b>{{ product.rating.rate }}</b>
          <p>({{ product.rating.count }})</p>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-end gap-1rem">
        <button class="red-badge" (click)="clicked(-1)">Remove</button>
        <button class="male-badge" (click)="clicked(1)">Add</button>
      </div>
    </div>
  </div>
</div>
