:host {
  width: 20rem;
}

.card-style {
  background-color: var(--FE-white);
  border-radius: 10px;
  height: 100%;
  padding: 16px;
  border: 1px solid var(--D-grey);
}

.has-shadow {
  box-shadow: 0px 0px 20px 0px var(--DF-white);
}

h4 {
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: var(--4-black);
  white-space: normal;
  word-wrap: break-word;
  text-align: start;
}

img {
  padding: 0 1rem;
  max-height: 15rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1.5rem;
}

button {
  padding: 4px 1rem;
  border-radius: 4px;
  border: 0;
}

p {
  font-size: 12px;
  color: var(--5A-text);
}

.male-badge:hover {
  background-color: var(--male-blue);
  color: var(--F3-white);
}

.red-badge:hover {
  background-color: var(--red);
  color: var(--F3-white);
}

.pi-star-fill {
  color: var(--yellow);
}
