<div
  class="header d-flex justify-content-between w-100 align-items-center z-index-1"
>
  <h4 class="fw-600">Home</h4>

  <div class="d-flex gap-2rem align-items-center justify-content-end p-lr-16px flex-1">
    <input
      id="name"
      type="text"
      pInputText
      [(ngModel)]="title"
      placeholder="Title ..."
      (change)="titleChanged()"
    />

    <span
      class="category"
      [ngClass]="{ active: activeCategory() === category }"
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
    >
      {{ category }}
    </span>

    <div class="d-flex gap-05rem align-items-center">
      <i class="pi pi-cart-arrow-down"> </i>
      <p>{{ itemsCount }}</p>
    </div>
  </div>
</div>
