:host {
  width: 100%;
  z-index: 100;
}

.header {
  padding: 0 12px 0 20px;
  width: 100%;
  height: 3.5rem;
  background-color: var(--FE-white);
  border-bottom: 0.5px solid var(--D-grey);
}

h4 {
  color: var(--4-black);
  margin: 0;
}

.category {
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background-color: var(--yellow-bg);
  color: var(--yellow);
  padding: 4px 1rem;
  border: 1px solid var(--yellow);
}

:host ::ng-deep .p-inputtext {
  width: 15rem;
  padding: 8px;

  span {
    width: 100%;
  }
}
