<test-header
  [categories]="categoriesList()"
  [itemsCount]="productsCount()"
  (categoryEvent)="categoryChange($event)"
  (titleEvent)="searchForTitle($event)"
/>

<div
  class="w-100 d-flex flex-column page-body height-100 min-height justify-content-between"
>
  <div class="items" *ngIf="!loading()">
    <test-product-card
      *ngFor="let product of filteredProductsList()"
      [product]="product"
      (clickEvent)="changeCount($event)"
    />
  </div>

  <test-profile-skeleton *ngIf="loading()" />

  <test-footer />
</div>
