:host {
  height: 100%;
  display: block;
}

.page-body {
  padding-top: 3.5rem !important;
}

.items {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}


test-header {
  position: fixed;
  top: 0;
}

.min-height {
  min-height: 100vh;
}

