.z-index-1 {
  z-index: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.height-100 {
  height: 100%;
}

.badge {
  padding: 0.35rem 0.65rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: var(--19-black);
  white-space: normal;
  word-wrap: break-word;
  text-align: start;
  border-radius: 4px;
}

.accent-text {
  color: var(--accent);
}

.secondary-text {
  color: var(--secondary);
}

.primary-text {
  color: var(--primary);
}

.content-divider {
  border-top: 1px solid var(--D-grey);
  margin: 0.4rem 0;
  padding: 0 0.5rem;
  background-color: var(--F9-white);
}

.green-badge {
  color: var(--green);
  background-color: var(--green-bg);
}

.red-badge {
  color: var(--red);
  background-color: var(--red-bg);
}

.red-text {
  color: var(--red) !important;
}

.yellow-badge {
  color: var(--yellow);
  background-color: var(--yellow-bg);
}

.yellow-text {
  color: var(--yellow);
}

.male-badge {
  color: var(--male-blue);
  background-color: var(--male-blue-bg);
}

.female-badge {
  color: var(--female-pink);
  background-color: var(--female-pink-bg);
}

.grey-badge {
  color: var(--A3-grey);
  background-color: var(--EA-grey);
}

.accent-badge {
  color: var(--accent);
  background-color: var(--accent-bg);
}

.cyan-badge {
  color: var(--cyan);
  background-color: var(--cyan-bg);
}

.cumin-badge {
  color: var(--cumin);
  background-color: var(--cumin-bg);
}

.table-column-grey-text {
  color: var(--A8-grey);
  font-size: 0.75rem;
}

.secondary-badge {
  color: var(--secondary);
  background-color: var(--secondary-bg);
}

.primary-badge {
  background-color: var(--primary-bg);
  color: var(--primary);
}

.inpatient-badge {
  background-color: var(--inpatient-2);
  color: var(--inpatient);
}

.outpatient-badge {
  background-color: var(--lime-bg);
  color: var(--lime);
}

.bold-800 {
  font-weight: 800;
}

.my-fs-1 {
  font-size: 1rem;
}

.my-fs-2 {
  font-size: 0.9rem;
}

.my-small-fs {
  font-size: 0.75rem;
}

.fw-600 {
  font-weight: 600;
}

.gap-1rem {
  gap: 1rem;
}

.gap-20px {
  gap: 20px;
}

.gap-1-5-rem {
  gap: 1.5rem;
}

.gap-2rem {
  gap: 2rem;
}

.gap-075rem {
  gap: 0.75rem;
}

.gap-05rem {
  gap: 0.5rem;
}

.gap-4px {
  gap: 4px;
}

.w-50 {
  width: 50%;
}

.hidden-scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.p-lr-8px {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p-lr-16px {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p-lr-32px {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-32px {
  padding-bottom: 32px !important;
}
.pt-32px {
  padding-top: 32px !important;
}

.price-align {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.name-container {
  width: 25vw;
}

.pointer:hover {
  cursor: pointer;
}
