.card-style {
  background-color: var(--FE-white);
  border-radius: 10px;
  height: 100%;
  padding: 16px 0;
  border: 1px solid var(--D-grey);
}

.has-shadow {
  box-shadow: 0px 0px 20px 0px var(--DF-white);
}

.card-pb {
  padding-bottom: 0 !important;
}

h4 {
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: var(--4-black);
  white-space: normal;
  word-wrap: break-word;
  text-align: start;
}

.top-extension {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bottom-card {
  border-top-right-radius: 0;
}
