<section class="d-flex">
  <test-content-card class="flex-2">
    <ng-container class="card-content">
      <div class="w-100 d-flex flex-column gap-2rem p-lr-16px">
        <div class="d-flex gap-1rem">
          <div class="d-flex flex-column gap-05rem">
            <p-skeleton width="20rem" styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
          </div>
        </div>

        <div class="d-flex flex-column gap-05rem">
          <p-skeleton width="40rem" height="100px" />
          <p-skeleton width="20rem" styleClass="mb-2" />
        </div>
      </div>
    </ng-container>
  </test-content-card>

  <test-content-card class="flex-1">
    <ng-container class="card-content">
      <div class="w-100 d-flex flex-column gap-2rem p-lr-16px">
        <p-skeleton width="15rem" styleClass="mb-2" />

        <div class="d-flex gap-1rem align-items-center">
          <p-skeleton shape="circle" size="6rem" styleClass="mr-2" />

          <div class="d-flex flex-column gap-05rem">
            <p-skeleton width="15rem" styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
          </div>
        </div>

        <div class="d-flex flex-column gap-05rem">
          <p-skeleton width="15rem" styleClass="mb-2" />
          <p-skeleton width="10rem" styleClass="mb-2" />
        </div>
      </div>
    </ng-container>
  </test-content-card>
</section>

<section class="d-flex">
  <div class="d-flex gap-1-5-rem flex-2">
    <test-content-card class="flex-1">
      <ng-container class="card-content">
        <div class="w-100 d-flex flex-column gap-1-5-rem p-lr-16px height-100">
          <p-skeleton width="20rem" />

          <div class="d-flex flex-column gap-05rem">
            <p-skeleton width="10rem" />
            <p-skeleton width="5rem" />
            <p-skeleton width="5rem" />
          </div>
        </div>
      </ng-container>
    </test-content-card>

    <test-content-card class="flex-1">
      <ng-container class="card-content">
        <div class="w-100 d-flex flex-column gap-1-5-rem p-lr-16px height-100">
          <p-skeleton width="20rem" />

          <div class="d-flex flex-column gap-05rem">
            <p-skeleton width="10rem" />
            <p-skeleton width="5rem" />
            <p-skeleton width="5rem" />
          </div>
        </div>
      </ng-container>
    </test-content-card>
  </div>

  <test-content-card class="flex-1">
    <ng-container class="card-content">
      <div class="w-100 d-flex flex-column gap-1rem p-lr-16px">
        <p-skeleton width="20rem" styleClass="mb-2" />

        <div class="d-flex gap-1rem" *ngFor="let item of [0, 1]">
          <p-skeleton class="flex-1" height="2rem" styleClass="mb-2" />
          <p-skeleton class="flex-1" height="2rem" styleClass="mb-2" />
        </div>
      </div>
    </ng-container>
  </test-content-card>
</section>
